.image-specs{
  height: 90px;
  align-items: center;
}
.main-body{
  background-color: lightgrey;
  height: 1000px;
  display: flex;
}
.button-list{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 90px;
}
.maintreeimage-specs{
  height: 360px;
  margin-left: 120px;
  margin-top: 30px;
}
.treeimage-specs{
  height: 360px;
  margin-left: 70px;
  margin-top: 30px;
}
.tree-text-box{
  background-color: lightgrey;
  display: flex;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.tree-text{
  margin-top: 50px;
  width: 160px;
}
